$colorBorder: #ddd;
$colorBorderLight: #eee;
$colorBackground1: #fff;
$colorBackground2: #eee;
$colorListSelectionBackground: rgb(60, 104, 214);
$colorListSelectionText: #fff;
$colorTableRow: #fff;
$colorTableRowAlternate: #f8f4f4;
$colorNowPlayingText: #444;
$colorNowPlayingBar: $colorListSelectionBackground;
$colorToolbarButtonText: #666;
$colorToolbarButtonBackgroundActive: #ccc;
