@import "common";

.st-app {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  &.st-app-modal { padding-bottom: 0; }

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.st-filter-control {
  width: 100%;
  height: $heightListFilterControlNormal;

  .st-small-ui & {
    height: $heightListFilterControlMobile;
  }
}

.st-app-overflowing-section {
  .st-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;

    &.st-list-under-filter-control {
      /* scss variables don't work here */
      height: calc(100% - 20px);

      .st-small-ui & {
        /* scss variables don't work here */
        height: calc(100% - 40px);
      }
    }
  }
}

.st-list {
  cursor: pointer;
  flex-shrink: 0;

  li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .st-list-item-selected {
    background-color: $colorListSelectionBackground;
    color: $colorListSelectionText;
  }
}

.st-keyboard-focus {
  background-color: #eefaff;
}

.st-ui {
  position: absolute;
  top: 81px;
  bottom: 50px;
  left: 0; right: 0;

  &.st-small-ui {
    top: 100px;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;

  .st-columns-1 {
    overflow-x: auto;
  }

  .st-columns-2 .st-artist-list { flex-grow: 1; flex-shrink: 0.5; }
  .st-columns-3 .st-artist-list { max-width: 300px; }
  .st-columns-2 .st-album-list { flex-grow: 1; flex-shrink: 0.5; }
  .st-columns-3 .st-album-list { max-width: 300px; }

  & > div {
    border-bottom: 1px solid $colorBorder;
    &:last-child { border-bottom: none; }

    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;

    & > div {
      border-right: 1px solid $colorBorder;
      &:last-child { border-right: none; }

      height: 100%;

      &.st-album-list, &.st-artist-list {
        overflow-x: hidden;
      }

      &.st-artist-list {
        flex-shrink: 100; flex-grow: 0.1;

        &:first-child:last-child {
          max-width: 100%;
          width: 100%;
        }
      }

      &.st-album-list {
        flex-shrink: 10; flex-grow: 0.1;

        &:first-child:last-child {
          max-width: 100%;
          width: 100%;
        }
      }

      &.st-track-list {
        flex-grow: 100;
        flex-shrink: 0.1;
        min-width: 50%;
      }
    }
  }
}

.st-modal-nav-bar {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid $colorBorder;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: $colorBackground2;

  .st-modal-title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }

  .st-modal-close-button {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
  }
}

.st-track-info {
  position: relative;

  .st-table {
    overflow-x: auto;
    overflow-y: auto;
  }
}

.react-contextmenu--visible {
  background-color: $colorBackground2;
  border: 1px solid $colorBorder;

  .react-contextmenu-item {
    cursor: pointer;
    border-bottom: 1px solid $colorBorder;
    &:last-child { border-bottom: none; }
    height: 20px; line-height: 20px;
    padding: 0 2px;
    &:hover {
      background-color: $colorBackground1;
    }
  }
}
