*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.st-app {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.st-app ul {
  margin: 0;
  padding: 0;
}

.st-app li {
  list-style-type: none;
  line-height: 20px;
  padding-left: 4px;
  padding-right: 4px;
}

.st-list {
  overflow: auto;
  cursor: pointer;
  width: 200px;
  flex-shrink: 0;
}

.st-list li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.st-list-item-selected {
  background-color: rgb(60, 104, 214);
  color: white;
}

.st-flex-ui {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}

.st-browser-sidebar {
  width: 200px;
  border-right: 1px solid #ddd;
}

.st-browser-sidebar > h1 {
  padding: 0 4px;
  font-size: 1rem;
}

.st-library {
  flex-grow: 1;
}

.st-library-browser-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.st-library-browser-left .st-artist-list {
  border-right: 1px solid #ddd;
  min-width: 200px;
}

.st-library-browser-left .st-album-list {
  border-right: 1px solid #ddd;
  min-width: 200px;
}

.st-track-list {
  min-width: 300px;
  flex-grow: 1;
  overflow: auto;
}

.st-info-sidebar {
  border-left: 1px solid #ddd;
  width: 250px;
  font-size: 12px;
  position: relative;
  overflow: auto;
}