@import "common";

.st-app {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
}

.st-list {
  overflow: auto;
  cursor: pointer;
  flex-shrink: 0;

  li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .st-list-item-selected {
    background-color: $colorListSelectionBackground;
    color: $colorListSelectionText;
  }
}

.st-track-list {
  overflow: auto;
}

.st-large-ui {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 81px - 30px);

  .st-library {
    flex-grow: 1;
    flex-shrink: 1;
    border-bottom: 1px solid $colorBorder;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    height: 100%;

    .st-album-list, .st-artist-list {
      width: 200px;
    }

    .st-track-list {
      flex-grow: 1;
      flex-shrink: 1;
    }

    & > * {
      border-right: 1px solid $colorBorder;
    }

    & > *:last-child {
      border-right: none;
    }
  }

  .st-info-sidebar {
    border-top: 1px solid $colorBorder;
    overflow: auto;
    height: 30%;
  }
}

.st-medium-ui {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 81px);

  .st-library {
    flex-grow: 1;
    flex-shrink: 1;
    border-bottom: 1px solid $colorBorder;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    height: 50%;

    & > * {
      width: 50%;
      border-right: 1px solid $colorBorder;
    }

    & > *:last-child {
      border-right: none;
    }
  }

  .st-track-list {
    flex-grow: 1;
    flex-shrink: 1;
    height: 50%;
  }

  .st-info-sidebar {
    border-top: 1px solid $colorBorder;
    overflow: auto;
    height: 30%;
  }
}

.st-small-ui {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 100px);

  .st-bottom-bar {
    z-index: 1;
  }

  .st-list {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
  }

  .st-track-list {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
  }

 .st-info-sidebar {
    border-top: 1px solid $colorBorder;
    overflow: auto;
    height: 30%;
    flex-grow: 0;
  }
}
