@import "common";

.st-modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0; right: 0; bottom: 0; left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  
  & > * {
    z-index: 2;
  }
}

.st-track-info-modal {
  width: 300px;
  position: relative;

  .st-nav-bar {
    position: relative;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: $colorBackground2;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .st-close-button {
      position: absolute;
      top: 0; left: 0; bottom: 0; width: 44px; line-height: 44px;
      cursor: pointer;
      font-size: 24px;
    }
  }

  .st-track-info {
    height: 300px;
    overflow-x: auto;
    overflow-y: auto;

    .st-table {
      cursor: default;
    }
  }
}