.st-now-playing {
  position: relative;
  width: 550px;
  height: 48px;
  flex-shrink: 1;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 46px;

  border: 1px solid black;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.st-now-playing .st-album-art {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 3px;
  left: 3px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.st-album-art-empty {
  border: 1px solid black;
  border-style: dashed;
}

.st-playback-time-bar {
  font-size: 12px;
  margin-top: 4px;
  flex-grow: 1;
  flex-shrink: 1;
  width: calc(100% - 20px);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.st-playback-time-bar-graphic {
  overflow: hidden;
  height: 5px;
  border-radius: 2px;
  background-color: #eee;

  flex-grow: 1;
  flex-shrink: 1;
}

.st-playback-time-bar-graphic > div {
  background-color: blue;
  height: 100%;
}

.st-playback-time-bar-now {
  margin-right: 4px;
}

.st-playback-time-bar-duration {
  margin-left: 4px;
}