@import "common";

.st-small-ui {
  .st-table {
    td, th {
      height: $heightListItemMobile;
      padding-left: 4px;
      padding-right: 4px;

      svg {
        margin-top: 9px;
      }
    }
  }
}

.st-table {
  cursor: pointer;

  table {
    position: absolute;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid $colorBorder;
  }

  td, th {
    position: relative;
    border-right: 1px solid $colorBorder;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 40px;
    height: $heightListItemNormal;

    &, & > div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  td:last-child, th:last-child {
    border-right: none;
  }

  tbody {
    tr {
      background-color: $colorTableRow;

      &:nth-child(even) {
        background-color: $colorBackground2;
      }

      &:nth-child(even) {
        background-color: $colorTableRowAlternate;
      }

      &.st-table-item-selected {
        background-color: $colorListSelectionBackground;
        color: $colorListSelectionText;
      }

      &.st-track-list-header {
        background-color: $colorTableRow;
        border-top: 1px solid $colorBorder;

        &:first-child {
          border-top: none;
        }

        td {
          padding: 10px 10px;
        }

        .st-track-list-header-album {
          white-space: normal;
          font-size: 2rem;
        }
        .st-track-list-header-artist {
          white-space: normal;
        }
        // .st-track-list-header-year { }
      }

      &.st-table-group-header-labels {
        background-color: $colorTableRow;
        border-bottom: 1px solid $colorBorder;

        td {
          border-right: none;
        }
      }
    }

    .st-playing-track-indicator {
      position: absolute;
      top: 0; right: 0; bottom: 0;
    }
  }
}
