.st-table {
  cursor: pointer;
}

.st-table table {
  border-collapse: collapse;
  min-width: 100%;
  border-bottom: 1px solid #ddd;
}

.st-table td, .st-table th {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  border-right: 1px solid #ddd;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 40px;
  height: 20px;
}

.st-table td:last-child, .st-table th:last-child {
  border-right: none;
}

.st-table tbody tr:nth-child(even), .st-table thead tr {
  background-color: #eee;
}

.st-table tbody tr:nth-child(even) {
  background-color: #f8f4f4;
}

.st-table tbody tr.st-table-item-selected {
  background-color: rgb(60, 104, 214);
  color: white;
}