@import "common";

.st-table {
  cursor: pointer;
}

.st-table table {
  border-collapse: collapse;
  min-width: 100%;
  border-bottom: 1px solid $colorBorder;
}

.st-table td, .st-table th {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  border-right: 1px solid $colorBorder;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 40px;
  height: 20px;
}

.st-table td:last-child, .st-table th:last-child {
  border-right: none;
}

.st-table tbody tr:nth-child(even), .st-table thead tr {
  background-color: $colorBackground2;
}

.st-table tbody tr {
  background-color: $colorTableRow;
}

.st-table tbody tr:nth-child(even) {
  background-color: $colorTableRowAlternate;
}

.st-table tbody tr.st-table-item-selected {
  background-color: $colorListSelectionBackground;
  color: $colorListSelectionText;
}
