.st-table {
  overflow: auto;
  cursor: pointer;
}

.st-table-abs-container {
  position: 'absolute';
  top: 0; right: 0; bottom: 0; left: 0;
}

.st-table table {
  border-collapse: collapse;
  min-width: 100%;
}

.st-table td, .st-table th {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  border-right: 1px solid #ddd;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 40px;
}

.st-table tr:nth-child(odd) {
  background-color: #eee;
}

.st-table tr.st-table-item-selected {
  background-color: rgb(60, 104, 214);
  color: white;
}