@import "common";

.st-toolbar {
  padding: 0 10px;
  height: 81px;
  border-bottom: 1px solid $colorBorder;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: $colorBackground2;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.st-toolbar.st-toolbar-stacked {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.st-toolbar-button-group {
  color: $colorToolbarButtonText;
  border: 1px solid $colorBorder;
  background-color: $colorBackground2;
  border-radius: 3px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
}

.st-toolbar-button-group > div {
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid $colorBorder;
    line-height: 22px;
    min-width: 22px;
    padding-left: 4px;
    padding-right: 4px;
}

.st-toolbar-button-group > div:last-child {
    border-right: none;
}

.st-toolbar-button-group > div:hover {
    background-color: $colorBorder;
}
.st-toolbar-button-group > div:active {
    background-color: $colorToolbarButtonBackgroundActive;
}

.st-playback-controls {
  width: 140px;
  height: 24px;
}

.st-search-box {
  width: 200px;
  height: 24px;
  flex-shrink: 1;
}

.st-mac-style-input {
    padding-left: 24px;
}

.st-mac-style-input::placeholder { text-align: center; transform: translateX(-12px); }
.st-mac-style-input:focus::placeholder { text-align: left; transform: none; }
.st-mac-style-input::-webkit-input-placeholder { text-align: center; transform: translateX(-12px); }
.st-mac-style-input:focus::-webkit-input-placeholder { text-align: left; transform: none; }
.st-mac-style-input::-moz-placeholder { text-align: center; transform: translateX(-12px); }
.st-mac-style-input:focus::-moz-placeholder { text-align: left; transform: none; }
.st-mac-style-input:-ms-input-placeholder { text-align: center; transform: translateX(-12px); }
.st-mac-style-input:focus:-ms-input-placeholder { text-align: left; transform: none; }
.st-mac-style-input:-moz-placeholder { text-align: center; transform: translateX(-12px); }
.st-mac-style-input:focus:-moz-placeholder { text-align: left; transform: none; }
