@import "common";

.st-track-list {
    height: 100%;
    overflow: auto;

    position: relative;

    .st-track-list-header-album {
        margin-right: 120px;
    }

    .st-track-list-header-buttons {
        position: absolute;
        top: 1em;
        right: 1em;

        & > div {
            cursor: pointer;
            line-height: 18px;
            padding: 2px 0;
            color: $colorTextLink;

            &:hover {
                text-decoration: underline;
            }
        }

        svg {
            display: block;
            float: left;
            width: 18px;
            height: 18px;
            border: 1px solid $colorBorder;
            border-radius: 9px;
            margin-right: 2px;
        }
    }
}

.st-track-list-empty {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    &:first-child:last-child {
        width: 100%;
    }

    h1, h2 {
        color: $colorTextFaint;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    .st-pick-artist-album-prompt {
        margin-top: 1.4em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;

        & > div {
            color: $colorTextLink;
            cursor: pointer;
            font-size: 1.4em;
        }
    }
}

.st-track-overflow-button {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 2px;
    bottom: 0px;
    width: 16px;
    height: 16px;
    margin: auto;
    line-height: 14px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid $colorBorder;
    font-size: 9px;
    background-color: $colorBackground1;
    color: $colorText;
}
