@import "common";

.st-track-list {
    &.st-track-list-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        h1, h2 {
            color: $colorTextFaint;
            text-align: center;
            margin-left: 1em;
            margin-right: 1em;
        }

        & > div {
            margin-top: 1.4em;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: nowrap;
            width: 100%;

            & > div {
                color: $colorTextLink;
                cursor: pointer;
                font-size: 1.4em;
            }
        }
    }
}
