.st-large-ui {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}

.st-large-ui .st-list {
  max-width: 200px;
}

.st-large-ui .st-browser-sidebar {
  width: 200px;
  border-right: 1px solid #ddd;
}

.st-large-ui .st-browser-sidebar > h1 {
  padding: 0 4px;
  font-size: 1rem;
}

.st-large-ui .st-library {
  flex-grow: 1;
  min-width: 100%;
}

.st-large-ui .st-library-browser-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.st-large-ui .st-library-browser-left .st-artist-list {
  border-right: 1px solid #ddd;
  min-width: 200px;
}

.st-large-ui .st-library-browser-left .st-album-list {
  border-right: 1px solid #ddd;
  min-width: 200px;
}

.st-large-ui .st-track-list {
  min-width: 300px;
  flex-grow: 1;
}

.st-large-ui .st-info-sidebar {
  border-left: 1px solid #ddd;
  width: 250px;
  font-size: 12px;
  position: relative;
  overflow: auto;
}
