aniso8601==1.2.0
astroid==1.4.8
audioread==2.1.4
beets==1.4.2
beets-noimport==0.1.0b5
click==6.6
Flask==0.11.1
Flask-Cors==3.0.2
Flask-RESTful==0.3.5
isort==4.2.5
itsdangerous==0.24
jellyfish==0.5.6
Jinja2==2.8
lazy-object-proxy==1.2.2
MarkupSafe==0.23
mccabe==0.5.3
munkres==1.0.8
musicbrainzngs==0.6
mutagen==1.35.1
pyacoustid==1.1.4
pylast==1.6.0
pylint==1.6.4
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.12.4
six==1.10.0
Unidecode==0.4.19
Werkzeug==0.11.11
wrapt==1.10.8
